{{#partial "content"}}
<h1>Members</h1>
<form action="/teams/{{editTeam.id}}/members/update" method="post"></form>
{{#each members}}
<div class="form-group">
    <label for="{{id}}">Edit team name:</label>
    <input id="{{id}}" name="{{id}}" type="text" value="{{editTeam.teamName}}">
</div>
{{/each}}

{{> layout.hbs}}
