{{#partial "content"}}
<h1>Team:</h1>
<p class="details">Team Name: {{ team.teamName }}</p>
<p class="details">Team Description: {{ team.teamDescription }}</p>
<p class="details">Team Members: </p>
    {{#each members}}
<p class="members"><b>{{name}}</b> </p> <button><a href="/members/{{id}}/delete">Delete this member</a></button>  <button><a href="/members/{{id}}/update">Edit this member</a></button>
    {{/each}}
<br>
<br>
<button class="bottom"><a href="/teams/{{team.id}}/update">Edit Team/ Add Members</a></button>
<button class="bottom"><a href="/teams/{{team.id}}/delete">Delete This Team</a></button>

{{/partial}}

{{> layout.hbs}}