{{#partial "content"}}
<h1>Team:</h1>
<p class="details">Team Name: {{ team.teamName }}</p>
<p class="details">Team Description: {{ team.teamDescription }}</p>
<p class="details">Team Members: </p>
    {{#each members}}
        <p>{{name}}<a href="/members/{{id}}/delete">..... Delete this member</a></p>
    {{/each}}
<button><a href="/teams/{{team.id}}/update">Edit team</a></button>
<button><a href="/teams/{{team.id}}/delete">Delete this team</a></button>





{{/partial}}

{{> layout.hbs}}